<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <head>
    <!-- Angular -->
    <script data-require="angular.js@1.3.15" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <!-- Angular UI -->
    <script src="ui-bootstrap-tpls-0.13.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Custom -->
    <link rel="stylesheet" href="style.css" />
    <script src="arrays.js"></script>
    <script src="main.js"></script>
  </head>

  <body ng-controller="MainController">

    <div class="container">
      <h1>NetApp Usable Space Calculator</h1>
      <hr class="hr-black">
      <br><br><br>
    </div>

    <div class="container"> <!-- Calculator.html -->
      <div class="row">

        <!-- INPUTS -->
        <div class="col-xs-3"> <!-- Column 1 -->

          <hr class="hr-black">

          <div class="form">
            <div class="form-group">
              <label for="totalDrives">Total Drives:</label>
              <input class="form-control" type="number" min="0" max="999" name="totalDrives" ng-model="totalDrives">
            </div>

            <div class="form-group">
              <label for="spareDrives">Spare Drives:</label>
              <input class="form-control" type="number" name="spareDrives" min="0" max="999" name="spareDrives" ng-model="spareDrives">
            </div>

            <div class="form-group">
              <label for="rootDrives">Root Drives:</label>
              <input class="form-control" type="number" min="0" max="9" name="rootDrives" ng-model="rootDrives">
            </div>

            <div class="form-group">
              <label for="selectedDrive">Select Drive:</label>
              <select  class="form-control" name="selectedDrive" ng-model="selectedDrive" ng-options="(drive.mkt_size + ' GB - ' + drive.type) for drive in drives | unique:'right_size_mib' | orderBy:'-mkt_size'"></select>
            </div>

            <div class="form-group">
              <label for="rgSize">Raid Group Size:</label>
              <input class="form-control" type="number" min="0" max="28" name="rgSize" ng-model="rgSize">
            </div>

            <div class="btn-group btn-group-sm pull-right">
              <label class="btn btn-default" ng-model="rgSize" btn-radio="rgSizeMin()">Min</label>
              <label class="btn btn-default" ng-model="rgSize" btn-radio="rgSizeDefault()">Default</label>
              <label class="btn btn-default" ng-model="rgSize" btn-radio="rgSizeMax()">Max</label>
            </div>

          </div>
        </div>


      <div class="col-xs-3"> <!-- Column 2 -->


        <hr class="hr-black">

        <div class="form">

          <div class="form-group">
            <label for="selectedRaidType">Select RAID Type:</label>
            <select class="form-control" name="selectedRaidType" ng-model="selectedRaidType" ng-options="(raid.displayName) for raid in raidTypes"></select>
          </div>

          <div class="form-group">
            <label for="aggrReserve">Aggregate Reserve %:</label>
            <input class="form-control" type="number" min="0" max="99" name="aggrReserve" ng-model="aggrReserve">
          </div>

          <div class="form-group">
            <label for="snapReserve">Snapshot Reserve %:</label>
            <input class="form-control" type="number" min="0" max="99" name="snapReserve" ng-model="snapReserve">
          </div>


          <div class="form-group"><!-- waflReserve should not be configurable -->
            <label for="waflReserve">WAFL Reserve %:</label>
            <input class="form-control" type="number" min="10" max="10" name="waflReserve" ng-model="waflReserve">
          </div>

          <div class="form-group">
            <label for="selectedOutputUnit">Select Output Unit:</label>
            <select class="form-control" name="selectedOutputUnit" ng-model="selectedOutputUnit" ng-options="unit.iec as unit.displayName for unit in outputUnits | filter:{base:2}"></select>
          </div>
          </div>
      </div>

      <!-- OUTPUT -->

      <div class="col-xs-3"> <!-- COLUMN 3 -->

        <h4>Drive Details:</h4>

        <hr class="hr-black">

        <p><b>Model Number:</b> <span class="pull-right">{{ selectedDrive.model_num }}</span></p>
        <p><b>Marketed Size:</b> <span class="pull-right">{{ selectedDrive.mkt_size }} GB</span></p>
        <p><b>Physical Size:</b> <span class="pull-right">{{ selectedDrive.physical_size_mib | number }} MiB</span></p>
        <p><b>Right Size:</b> <span class="pull-right">{{ selectedDrive.right_size_mib | number}} MiB</span></p>
        <p><b>Drive Type:</b> <span class="pull-right">{{ selectedDrive.type }}</span></p>
        <p><b>Drive Speed:</b> <span class="pull-right">{{ selectedDrive.rpm_speed | number }} RPM</span></p>
        <p ng-show="selectedDrive.encrypted"><b>Encrypted:</b> <span class="pull-right">{{ selectedDrive.encrypted }}</span></p>

        <hr class="hr-black">

        <p><b>RG Size Max:</b> <span class="pull-right">{{ rgSizeMax() }}</span></p>
        <p><b>RG Size Default:</b> <span class="pull-right">{{ rgSizeDefault() }}</span></p>
        <p><b>RG Size Min:</b> <span class="pull-right">{{ rgSizeMin() }}</span></p>

        <div ng-show="selectedRaidType.name == 'raidDP'">
          <p><b>RG Suggested Range:</b> <span class="pull-right">{{ selectedDrive.rg_suggested_dp_min }} - {{ selectedDrive.rg_suggested_dp_max }}</span></p>
        </div>

      </div>

      <div class="col-xs-3"> <!-- COLUMN 4 -->

        <h4>Capacity Details:</h4>

        <hr class="hr-black">

        <p><b>Total Base 10 Capacity:</b> <span class="pull-right">{{ totalRawCapacity() | base10convert:2:'GB' }}</span></p>
        <p><b>Total Base 2 Capacity:</b> <span class="pull-right">{{ totalPhysicalCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>
        <p><b>Total Right Size Capacity:</b> <span class="pull-right">{{ totalRightSizeCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>

        <hr class="hr-black">

        <p><b>Usable Drives:</b> <span class="pull-right">{{ usableDrives() }}</span></p>
        <p><b>Number of Raid Groups:</b> <span class="pull-right">{{ numRaidGroups() }}</span></p>
        <p><b>Parity Drives:</b> <span class="pull-right">{{ parityDrives() }}</span></p>
        <p><b>Data Drives:</b> <span class="pull-right">{{ dataDrives() }}</span></p>

        <p><b>Total Drive Efficiency:</b> <span class="pull-right">{{ totalDriveEfficiency() | number:2 }}%</span></p>
        <p><b>Usable Drive Efficiency:</b> <span class="pull-right">{{ usableDriveEfficiency() | number:2 }}%</span></p>

        <hr class="hr-black">

        <p><b>Aggregate Usable Capacity:</b>
          <span class="pull-right" id="aggr-usable-capacity">{{ aggrUsableCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>

        <p><b>Volume Usable Capacity:</b>
          <span class="pull-right" id="vol-usable-capacity">{{ volUsableCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>

      </div>
    </div>
  </div> <!-- End Calculator.html -->


  <!-- <div ng-include="'drive_table.html'"></div>  -->
</body>

</html>
