<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <head>
    <!-- Angular -->
    <script data-require="angular.js@1.3.15" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <!-- Angular UI -->
    <script src="ui-bootstrap-tpls-0.13.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Custom -->
    <link rel="stylesheet" href="style.css" />
    <script src="arrays.js"></script>
    <script src="main.js"></script>
  </head>

  <body ng-controller="MainController">

    <div class="container">  <!-- http://www.netapp.com/us/media/tr-3838.pdf -->
      <br>
      <h1><a href="https://github.com/jpl1079/nusc">NetApp Usable Space Calculator</a> <small> based on <a href="http://www.netapp.com/us/media/tr-3838.pdf" target="_blank">TR-3838</a></small></h1>
      <br><br>
    </div>

    <div class="container card"> <!-- Calculator.html -->
      <div class="row">
        <div class="col-xs-12 col-md-6">  <!-- Outer Column -->

          <h4>Inputs: </h4>

          <hr class="hr-black">

          <div class="row">
            <!-- INPUTS -->
            <div class="col-xs-12 col-md-6"> <!-- Column 1 -->

              <div class="form">
                <div class="form-group">
                  <label for="totalDrives">Total Drives:</label>
                  <input class="form-control" type="number" min="1" max="99999" name="totalDrives" ng-model="totalDrives" placeholder="Total Number of Drives">
                </div>

                <div class="form-group">
                  <label for="spareDrives">Spare Drives:</label>
                  <input class="form-control" type="number" name="spareDrives" min="0" max="9999" name="spareDrives" ng-model="spareDrives" placeholder="Number of Spare Drives">
                </div>

                <div class="form-group">
                  <label for="rootDrives">Root Drives:</label>
                  <input class="form-control" type="number" min="0" max="999" name="rootDrives" ng-model="rootDrives" placeholder="Number of Root Aggr Drives">
                </div>

                <div class="form-group">
                  <label for="selectedDrive">Select Drive:</label>
                  <select  class="form-control" name="selectedDrive" ng-model="selectedDrive" ng-options="(drive.mkt_size + ' GB - ' + drive.type + ' (' + drive.model_num + ')') for drive in drives | orderBy:'-mkt_size'"></select>
                </div>

                <div class="form-group">
                  <label for="rgSize">Raid Group Size:</label>
                  <input class="form-control" type="number" name="rgSize" min="0" max="99" ng-model="rgSize" placeholder="Raid Group Size">
                </div>

                <div class="btn-group btn-group-sm pull-right">
                  <label class="btn btn-default" ng-model="rgSize" btn-radio="rgSizeMin()">Min</label>
                  <label class="btn btn-default" ng-model="rgSize" btn-radio="rgSizeDefault()">Default</label>
                  <label class="btn btn-default" ng-model="rgSize" btn-radio="rgSizeMax()">Max</label>
                </div>

              </div>
            </div>


            <div class="col-xs-12 col-md-6"> <!-- Column 2 -->

              <div class="form">

                <div class="form-group">
                  <label for="selectedRaidType">Select RAID Type:</label>
                  <select class="form-control" name="selectedRaidType" ng-model="selectedRaidType" ng-options="(raid.displayName) for raid in raidTypes"></select>
                </div>

                <div class="form-group">
                  <label for="aggrReserve">Aggregate Reserve %:</label>
                  <input class="form-control" type="number" min="0" max="99" name="aggrReserve" ng-model="aggrReserve" placeholder="Aggr Reserve %">
                </div>

                <div class="form-group">
                  <label for="snapReserve">Snapshot Reserve %:</label>
                  <input class="form-control" type="number" min="0" max="99" name="snapReserve" ng-model="snapReserve" placeholder="Snapshot Reserve %">
                </div>


                <div class="form-group"><!-- waflReserve should not be configurable -->
                  <label for="waflReserve">WAFL Reserve %:</label>
                  <input class="form-control" type="number" min="10" max="10" name="waflReserve" ng-model="waflReserve" readonly>
                </div>

                <div class="form-group">
                  <label for="selectedOutputUnit">Select Output Unit:</label>
                  <select class="form-control" name="selectedOutputUnit" ng-model="selectedOutputUnit" ng-options="unit.iec as unit.displayName for unit in outputUnits | filter:{base:2}"></select>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- OUTPUT -->

      <div class="col-xs-12 col-md-3"> <!-- COLUMN 3 -->

        <h4>Drive Details:</h4>

        <hr class="hr-black">

        <p><b><a href="#" tooltip="{{tooltips.modelNum}}">Model Number:</a></b> <span class="pull-right">{{ selectedDrive.model_num }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.mkt_size}}">Marketed Size:</a></b> <span class="pull-right">{{ selectedDrive.mkt_size }} GB</span></p>
        <p><b><a href="#" tooltip="{{tooltips.physical_size}}">Physical Size:</a></b> <span class="pull-right">{{ selectedDrive.physical_size_mib | number }} MiB</span></p>
        <p><b><a href="#" tooltip="{{tooltips.right_size}}">Right Size:</a></b> <span class="pull-right">{{ selectedDrive.right_size_mib | number}} MiB</span></p>
        <p><b><a href="#" tooltip="{{tooltips.type}}">Drive Type:</a></b> <span class="pull-right">{{ selectedDrive.type }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.rpm_speed}}">Drive Speed:</a></b> <span class="pull-right">{{ selectedDrive.rpm_speed | number }} RPM</span></p>
        <p><b><a href="#" tooltip="{{tooltips.encrypted}}">Encrypted:</a></b> <span class="pull-right">{{ selectedDrive.encrypted }}</span></p>

        <hr class="hr-black">

        <p><b><a href="#" tooltip="{{tooltips.rgSizeMax}}">RG Size Max:</a></b> <span class="pull-right">{{ rgSizeMax() }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.rgSizeDefault}}">RG Size Default:</a></b> <span class="pull-right">{{ rgSizeDefault() }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.rgSizeMin}}">RG Size Min:</a></b> <span class="pull-right">{{ rgSizeMin() }}</span></p>
        <p ng-show="selectedRaidType.name == 'raidDP'"><b><a href="#" tooltip="{{tooltips.rgSuggestedRange}}">RG Suggested Range:</a></b> <span class="pull-right">{{ selectedDrive.rg_suggested_dp_min }} - {{ selectedDrive.rg_suggested_dp_max }}</span></p>


      </div>

      <div class="col-xs-12 col-md-3"> <!-- COLUMN 4 -->

        <h4>Capacity Details:</h4>

        <hr class="hr-black">

        <p><b><a href="#" tooltip="{{tooltips.totalMarketedCapacity}}">Total Base 10 Capacity:</a></b> <span class="pull-right">{{ totalRawCapacity() | base10convert:2:'GB' }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.totalPhysicalCapacity}}">Total Base 2 Capacity:</a></b> <span class="pull-right">{{ totalPhysicalCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.totalRightSizeCapacity}}">Total Right Size Capacity:</a></b> <span class="pull-right">{{ totalRightSizeCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>

        <hr class="hr-black">

        <p><b><a href="#" tooltip="{{tooltips.usableDrives}}">Usable Drives:</a></b> <span class="pull-right">{{ usableDrives() }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.numRGs}}">Number of Raid Groups:</a></b> <span class="pull-right">{{ numRaidGroups() | number:2 }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.parityDrives}}">Parity Drives:</a></b> <span class="pull-right">{{ parityDrives() }}</span></p>
        <p><b><a href="#" tooltip="{{tooltips.dataDrives}}">Data Drives:</a></b> <span class="pull-right">{{ dataDrives() }}</span></p>
        <!-- <p><b>Total Drive Efficiency:</b> <span class="pull-right">{{ totalDriveEfficiency() | number:2 }}%</span></p> -->
        <p><b><a href="#" tooltip="{{tooltips.usableDriveEfficiency}}">Data Drive Efficiency:</a></b> <span class="pull-right">{{ usableDriveEfficiency() | number:2 }}%</span></p>
        <p><b><a href="#" tooltip="{{tooltips.usableCapacityEfficiency}}">Usable Capacity Efficiency:</a></b> <span class="pull-right">{{ usableCapacityEfficiency() | number:2 }}%</span></p>

        <hr class="hr-black">

        <p><b><a href="#" tooltip="{{tooltips.aggrUsableCapacity}}" >Aggregate Capacity:</a></b>
          <span class="pull-right" id="aggr-usable-capacity">{{ aggrUsableCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>

        <p><b><a href="#" tooltip="{{tooltips.volUsableCapacity}}" >Volume Usable Capacity:</a></b>
          <span class="pull-right" id="vol-usable-capacity">{{ volUsableCapacity() | base2convert:2:'MiB':selectedOutputUnit }}</span></p>

      </div>
    </div>
  </div> <!-- End Calculator.html -->
  <br><br>
  <div class="container"> <!-- Errors??? -->

    <div ng-show="smallRgWarning()">
      <alert type="{{ alerts[0].type }}">{{ alerts[0].msg }}</alert>
    </div>



  </div> <!-- End Errors -->

  <!-- <div ng-include="'drive_table.html'"></div>  -->
</body>

</html>

  
